<!-- <body>
    <footer>
        <div class="f-info mt-3">
            <a href="#head" class="up-arrow"><i class="fa-solid fa-angles-up fa-bounce"></i></a>
            <div class="f-info-socials">

                <a class="FB social-link" href="https://www.facebook.com/"><i
                        class="fa-brands fa-square-facebook"></i></a>
                <a class="insta social-link" href="https://www.instagram.com/"><i
                        class="fa-brands fa-instagram"></i></a>

            </div>
            <div class="f-info-brand">WanderLust Pvt. Ltd.</div>
            <div class="f-info-brand">&copy; 2024 All Rights Reserved</div>

            <div class="f-info-links">
                <a href="/privacy">Privacy</a>&nbsp;&nbsp;
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body> -->

<link rel="stylesheet" href="/css/footer.css">
<footer>
    <!-- <a href="#head" class="up-arrow"><i class="fa-solid fa-angles-up fa-bounce" style="color: black;"></i></a> -->
    <div class="f-info-socials">
        <div class="main-ftr">

            <div class="ftr-head">
                <h3>Inspiration for future getaways</h3>
            </div>
            <div class="ftr-nav">
                <div class="main-light ftr-nav-m" style="opacity: 1; border-bottom: 2px solid rgba(0, 0, 0, 1);">Popular
                </div>
                <div class="main-light ftr-nav-m">Arts & culture</div>
                <div class="main-light ftr-nav-m">Outdoors</div>
                <div class="main-light ftr-nav-m">Mountains</div>
                <div class="main-light ftr-nav-m">Beach</div>
                <div class="main-light ftr-nav-m">Unique stays</div>
                <div class="main-light ftr-nav-m">Categories</div>
                <div class="main-light ftr-nav-m">Things to do</div>
            </div>
            <div class="ftr-nav-pop">
                <div>
                    <div>
                        <div class="main-light">Mumbai</div>
                        <p class="light">Apartment rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">New Delhi</div>
                        <p class="light">Flat rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Bhopal</div>
                        <p class="light">House rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Jaipur</div>
                        <p class="light">House rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Ujjain</div>
                        <p class="light">Room rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Surat</div>
                        <p class="light">Apartment rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Ahmedabad</div>
                        <p class="light">Apartment rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Goa</div>
                        <p class="light">Holiday rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Indore</div>
                        <p class="light">House rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Nagpur</div>
                        <p class="light">Holiday rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Goa</div>
                        <p class="light">Beach house rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Chhindwara</div>
                        <p class="light">Holiday rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Shimla</div>
                        <p class="light">Apartment rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Bengluru</div>
                        <p class="light">Holiday rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Kolkata</div>
                        <p class="light">House rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Lacknow</div>
                        <p class="light">Flat rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light">Pune</div>
                        <p class="light">Cottage rentals</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="main-light show">
                            <span>Show more</span>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                        <p> </p>
                    </div>
                </div>
            </div>
            <hr class="ftr-hr">
            <div class="ftr-mdl">
                <div>
                    <div class="main-light mb-2">Support</div>
                    <div class="ftr-mdl-cont">
                        <div><span>Help Centre</span></div>
                        <div><span>AirCover</span></div>
                        <div><span>Anti-discrimination</span></div>
                        <div><span>Disability support</span></div>
                        <div><span>Cancellation option</span></div>
                        <div><span>Report neighbourhood concern</span></div>
                    </div>
                </div>
                <div>
                    <div class="main-light mb-2">Hosting</span></div>
                    <div class="ftr-mdl-cont">
                        <div><span>WanderLust your home</span></div>
                        <div><span>AirCover for Hosts</span></div>
                        <div><span>Hosting resources</span></div>
                        <div><span>Community forum</span></div>
                        <div><span>Hosting responsibly</span></div>
                    </div>
                </div>
                <div>
                    <div class="main-light mb-2">WanderLust</div>
                    <div class="ftr-mdl-cont">
                        <div><span>Newsroom</span></div>
                        <div><span>New features</span></div>
                        <div><span>Careers</span></div>
                        <div><span>Investors</span></div>
                        <div><span>WanderLust.org emergency stays</span></div>
                    </div>
                </div>
            </div>
            <hr class="ftr-hr">
            <div class="ftr-copy">
                <div>
                    <div>&copy; 2024 WanderLust, Inc. &sdot; &nbsp; </div>
                    <div class="priv">
                        <a href="#">Privacy</a> &sdot;
                        <a href="#">Terms</a> &sdot;
                        <a href="#">Sitemap</a> &sdot;
                        <a href="#">Company details</a>
                    </div>
                </div>
                <div class="ftr-net">
                    <div class="eng-in">
                        <i class="fa-solid fa-globe me-1"></i>
                        <div class="main-light">English (IN)</div>
                    </div>
                    <div class="ftr-inr"></div>
                    <div class="social-icon">
                        <a target="_blank" href="https://github.com">
                            <i class="fa-brands fa-github"></i> <!-- <img src="/Icon/github.png" alt="GitHub" /> -->
                        </a>
                        <a target="_blank" href="https://www.linkedin.com">
                            <i class="fa-brands fa-linkedin" style="color: #005eff;"></i>
                            <!-- <img src="/Icon/linkedIn.png" alt="LinkedIn" /> -->
                        </a>
                        <a target="_blank" href="https://www.instagram.com">
                            <i class="fa-brands fa-instagram" style="color: rgb(245, 110, 155);"></i>
                            <!-- <img src="/Icon/instagram.png" alt="Instagram" /> -->
                        </a>
                        <a target="_blank" href="https://www.facebook.com">
                            <i class="fa-brands fa-facebook" style="color: #0091ff;"></i>
                            <!-- <img src="/Icon/facebook.png" alt="Facebook" style="padding: 1px;" /> -->
                        </a>
                        <a target="_blank" href="https://www.x.com">
                            <i class="fa-brands fa-x-twitter"></i>
                            <!-- <img src="/Icon/twiter.png" alt="Twiter" /> -->
                        </a>
                    </div>
                </div>
            </div>

        </div>
</footer>