<body>
    <footer>
        <div class="f-info mt-3">
            <a href="#head" class="up-arrow"><i class="fa-solid fa-angles-up fa-bounce"></i></a>
            <div class="f-info-socials">

                <a class="FB social-link" href="https://www.facebook.com/"><i
                        class="fa-brands fa-square-facebook"></i></a>
                <a class="insta social-link" href="https://www.instagram.com/"><i
                        class="fa-brands fa-instagram"></i></a>

            </div>
            <div class="f-info-brand">WanderLust Pvt. Ltd.</div>
            <div class="f-info-brand">&copy; 2024 All Rights Reserved</div>

            <div class="f-info-links">
                <a href="/privacy">Privacy</a>&nbsp;&nbsp;
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body>