<% layout("/layouts/boilerplate") %>

    <body>
        <div class="alert row alert-danger mt-3 col-md-6 offset-md-3" role="alert">
            <div style="font-size: 20px;">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <%= message %> &nbsp;<a href="/listings">Go Back</a>
            </div>
        </div>
    </body>